/*******************************************************************************
 * Footer styles
 ******************************************************************************/

footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;

  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
  }

  a {
    color: var(--global-footer-link-color);

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;

  .container {
    text-align: center;
  }
}

// "Back to top" link, shown just above the copyright line in the footer.
a.back-to-top {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--global-text-color-light);
  text-decoration: none;

  &:hover {
    color: var(--global-theme-color);
    text-decoration: none;
  }
}

footer.fixed-bottom a.back-to-top {
  margin-bottom: 0;
  margin-right: 0.5rem;
  color: var(--global-footer-link-color);

  + br {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
